@charset "utf-8";

/* This is a CSS file */
/* mobile first style*/


.body{
    font-family: 'Inria Serif', serif;
    background-color: #fff1f1;
    color: #1a2333;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #fff1f1;
    padding: 10px 20px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 100px;
    width: 180px;
}

nav ul {
    font-family: 'DM Serif Display', serif;
    list-style: none;
    flex-direction: column;
    display: flex;
    gap: 10px;
    pad: 0;
    margin: 0;

}

nav ul li a {
    font-size: 16px;
    color: #1a2333;
    text-decoration: none;

}

main {
    padding: 20px;
}