@charset "utf-8";

/* This is a CSS file */
/* Mobile First*/

@import url(base.css);

.body{
    font-family: 'Inria Serif', serif;
    background-color: #fff1f1;
    color: #1a2333;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    font-family: 'DM Serif Display', serif;
    font-size: 20px;
    color: #1a2333;
    margin-bottom: 20px;
    margin-top: 70px;
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
}

.project-image {
    width: 100%;
    max-width: 300px;
    max-height: 350px;
    margin-bottom: 10px;
    margin-top: 10px;
    
}

.project .project-description {
    text-align: left;
    font-size: 16px;
    font-family: 'Inria Serif', serif;
    margin-left: 20px;
    margin-right: 20px;

}

.project1 {
    background-color: #AB5800;
    color: #FFF1f1;

}

.project2 {
    background-color: #FFF1f1;
    color: #1a2333;

}

.project3 {
    background-color: #AB5800;
    color: #FFF1f1;
}

.project4 {
    background-color: #FFF1f1;
    color: #1a2333;

}

.project5 {
    background-color: #AB5800;
    color: #FFF1f1;
}

.contact {
    font-family: 'Inria Serif', serif;
    color: #1a2333;
    text-align: left;
    margin-top: 20px;
    font-size: 20px;
}

.contact h2 {
    font-size: 20px;
}

.scaletext {
    font-size: 2.5vw;
}

/* tablet style (min-width: 768) */

@media (min-width: 768px) {
    h1 {
        font-size: 28px;
    }

    .logo {
        height: 200px;
        width: 300px;
    }

.header-content {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;
}

nav ul {
    flex-direction: row;
    gap: 150px;
    margin-right: 50px;
}

nav ul li a {
    font-size: 28px;
}

h2 {
    font-size: 28px;
}

.project {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.project1 {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.project3 {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;

}

.project5 {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.project-image {
    max-width: 300px;
}

.project .project-description {
    width: 70%;
    text-align: left;
    margin-left: 20px;
}

.project .project-description p {
    font-size: 20px ;
}

.contact h2 {
    font-size: 28px;
}
.contact p {
    font-size: 20px;
}

}


/* desktop style (min-width: 1024) */

@media (min-width: 1024px) {
    h1 {
        font-size: 36px;
    }

    .logo {
        height: 300px;
        width: 450px;
    }

.header-content {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;
}

nav ul {
    flex-direction: row;
    gap: 400px;
    margin-right: 200px;
}

nav ul li a {
    font-size: 36px;
}

h2 {
    font-size: 36px;
}

.project {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.project1 {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.project3 {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;

}

.project5 {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.project-image {
    max-width: 500px;
    height: auto;
}

.project .project-description {
    width: 70%;
    text-align: left;
    margin-left: 20px;
}

.project .project-description p {
    font-size: 28px ;
}

.contact h2 {
    font-size: 36px;
}
.contact p {
    font-size: 28px;
}

}